.nav-item{
  cursor: pointer;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #17a2b8;
    background-color: 1px solid #dee2e6;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link:hover {
    color: #fff;
}

.autosaveText{
  margin: 8px;
  right: 0px;
  position: absolute;
  color: #888;
}
